name: Build and Test Workflow

on:
    pull_request:
        branches: [ "master" ]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          max-parallel: 30
          matrix:
            version:
              - 'oldstable'
              - 'stable'
        steps:
            - name: Checkout Code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - name: Setup Go
              uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
              with:
                go-version: ${{ matrix.version }}
            - name: Test Go
              run: go test -v -coverprofile=coverage.out ./...
            - name: Upload coverage report
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
              with: 
                path: coverage.out
                name: coverage-report-${{matrix.version}}
            - name: Display coverage report
              run: go tool cover -func=coverage.out
    lint:
      name: Lint for target ${{ matrix.target }}
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false
        max-parallel: 30
        matrix:
          target: [linux-amd64, windows-amd64, darwin-arm64, aix-ppc64, solaris-amd64]
      steps:
          - name: Checkout Code
            uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
          - name: Setup Go
            uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
            with:
              go-version: 'stable'
          - name: Set target platform
            run: | 
              {
                echo "GOOS=$(echo ${{ matrix.target }} | cut -d - -f1)" 
                echo "GOARCH=$(echo ${{ matrix.target }} | cut -d - -f2)"
              } >> "$GITHUB_ENV"
          - name: Run Linter
            uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
